body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}
