<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <p>Grupo 3 - 1er Cuatrimestre 2025</p>
        <p>Integrantes: Milagros Galarce, Catalina Goyanarte y Manuela Judez</p>
    </footer>
</body>
</html>